{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex">
        <button class="btn btn-warning m-3 p-3" style="width: 16rem;">{{ button_label|default('Сохранить') }}</button>
        <a href="{{ path('app_course_index') }}" class="btn btn-warning m-3 p-3" style="width: 16rem;">На главную</a>
    </div>
{{ form_end(form) }}
