{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %} 
<div class="container">
    <h1 class="text-center">Курсы под любые цели</h1>
    <div class="row g-2">
        {% for course in courses %}
        <div class="card row-6 border border-dark p-3 m-3 bg-light" style="width: 18rem;">
            <img src="{{course.image}}" class="card-img-top" style="height: 15rem; width: 100%;" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text overflow-hidden" style="height: 8rem; width: 100%;">{{course.content}}</p>
                <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-dark" style="width: 100%;">Подробнее</a>
            </div>
        </div>
        {% endfor %}
        <a href="{{ path('app_course_new') }}" class="btn btn-warning">Создать новый курс</a>
    </div>
</div>
{% endblock %}
