<header>
  <div class="wrap-logo">
  <a href="#" class="logo">Тут точно будет название</a>
  </div>
  <nav>
    <a class="m-3" href="{{ path('app_course_index') }}">Главная</a>
    {% if is_granted('ROLE_USER') %}
      <a href="{{ path('app_profile') }}" class="m-3">Профиль</a>
      <a href="{{ path('app_user_transactions') }}" class="m-3">Транзакции</a>
      <a href="{{ path('app_logout') }}" class="m-3">Выйти</a>
    {% else %}
      <a href="{{ path('app_registration') }}" class="m-3">Регистрация</a>
      <a href="{{ path('app_login') }}" class="m-3">Войти</a>
    {% endif %}
  </nav>

</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #FFEB3B;
        padding: 20px 10px;
    }
        
    .wrap-logo {
            display: flex;
            align-items: center;
        
    }
        
    header a {
            color: #212121;
            padding: 12px;
            text-decoration: none;
            font-size: 18px; 
            border-radius: 4px;
    }
        
    header a.logo {
            font-size: 25px;
            font-weight: bold;
    }
        
    header a:hover {
        background-color: #FBC02D;
        color: #212121;
    }
        
    header a.active {
        background-color: #FBC02D;
    }
        
    nav {
        display: flex;
        align-items: center;
    }
</style>